<h1>ПСЗИ — Лабораторная работа #1</h1>

<div class="control">
	<h2>Шифрование</h2>
	<section>
		<label>
			<button (click)="changeView('base')">{{ viewModes[views.base] }}</button>
			Текст для шифрования:<br>
			<textarea class="mono" cols="30" rows="10" [(ngModel)]="base"></textarea>
		</label>
		<label>
			<button (click)="changeView('gamma')">{{ viewModes[views.gamma] }}</button>
			Гамма:<br>
			<textarea class="mono" id="gamma" cols="30" rows="4" [(ngModel)]="gamma"></textarea><br>
			<button (click)="getSimpleGamma()">Случайная</button>
			<button (click)="getScramblerGamma()">Скрамблер</button>
			<button (click)="applyCipher()">Шифровать</button>
		</label>
		<label>
			<button (click)="changeView('cipher')">{{ viewModes[views.cipher] }}</button>
			Шифрованный текст:<br>
			<textarea class="mono" cols="30" rows="10" [(ngModel)]="cipher" readonly></textarea>
		</label>
	</section>
	<h2>Параметры скремблера</h2>
	<section>
		<div class="boxed" id="scrambler-info">
			<label>
				Полином для скремблера:
				<select [(ngModel)]="polynom">
					<option *ngFor="let p of polynoms" [ngValue]="p.value">{{p.preview}}</option>
				</select>
				<br>
			</label>
			<label>
				Исходное состояние скремблера:
				<input type="text" pattern="[01]+" [(ngModel)]="initVal">
				<br>
			</label>
			<label>
				Период скремблера: {{ period }}
			</label>
		</div>
	</section>
	<h2>Исследование гаммы</h2>
	<section>
		<h3>Равномерность по χ<sup>2</sup></h3>
		<p *ngIf="tests && tests.chi2">
			{{ tests.chi2 }}
		</p>
		<h3>Сбалансированность</h3>
		<p *ngIf="tests && tests.balance">
			{{ tests.balance }}
		</p>
		<h3>Цикличность</h3>
		<p *ngIf="tests && tests.cyclicity">
			{{ tests.cyclicity}}
		</p>
		<h3>Коррелированность</h3>
		<p *ngIf="tests && tests.correlation">
			{{ tests.correlation}}
		</p>
	</section>
</div>