.mono {
	font-family: 'Courier New', Courier, monospace;
}

.ml-20 {
	margin-left: 20px;
}

.w-270 {
	width: 270px;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
